BFF_ENV=dev
BFF_SECRET_KEY=dev_secret_key_for_local_validation_only
BFF_ADMIN_PASSWORD=dev_admin_password_only_for_local_dry_run
BFF_WEBHOOK_SHARED_SECRET=dev_webhook_secret_for_local_validation
BFF_PAYMENT_PROVIDER=mock
BFF_PAYMENT_WEBHOOK_SECRET=dev_payment_webhook_secret
BFF_DB_AUTO_CREATE_TABLES=false
BFF_AUTO_APPLY_MIGRATIONS=false
BFF_STRICT_STARTUP_VALIDATION=false
BFF_DEFAULT_STORE_ID=default
BFF_ENABLE_DEV_ENDPOINTS=true
BFF_ENABLE_MOCK_PAYMENT=true
